/*Isotope stuff*/

div.wrapper {
    width: 80%;
    height: auto;
    min-height: 100%;
    margin-left: 10%;
}

@media (min-width: 1200px) {
    #wrapper {
        width: 1000px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

#flipcard p {
	font-size: 14px;
}

/*#buttongroup {
	margin-left: 14%;
margin-left: 5%;
}

/*div.grid {
	margin-left: 10%;
	margin-right: 14%;
}*/

/*.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }*/


/*.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}*/













/*Everything before isotope*/
div.callout.panel {
	text-align: center;
	border-radius: 10px;
/*	background-color: #f3f3f3;
	border-color: #f3f3f3;*/
}

/*div.all-tools {
	text-align: center;
}*/

img#chemical {
	width: 20%;
	height: 20%;
}

img#viz {
	width: 30%;
	height: 30%;
}

/*div.callout-panel {
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}*/

/*For the introduction paragraphs*/
div.openingheader p{
	height: auto;
	width: 60%;
	min-height: 100%;
	margin-left: 20%;
	font-family: Lato;
	font-size: 18px;
}

/*For the opening banner img*/
div.openingheader p#name {
	text-align: center;
}

/*For the flipcard p text sizes*/
div.row p{
	font-size: 13px;
}

/*For the flipcard header text size*/
div.row h2 {
	font-size: 30px;
}







/*
div#flipcard {
	position: absolute;
	z-index: 99 !important ;
	background-color: #effafe;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	display: block;
}*/

/*div.openingheader p{
	height: auto;
	width: 60%;
	min-height: 100%;
	margin-left: 20%;
	font-family: Georgia;
	font-size: 18px;
}*/

/*img#block {
	margin-top: 80px;
}*/

/*#wrapper {
    width: 80%;
    height: auto;
    min-height: 100%;
    margin-left: 10%;
}
*/
/*@media (min-width: 1200px) {
    #wrapper {
        width: 1000px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}