div.callout.panel {
	text-align: center;
	border-radius: 10px;
/*	background-color: #f3f3f3;
	border-color: #f3f3f3;*/
}

div.all-tools {
	text-align: center;
}

img#chemical {
	width: 20%;
	height: 20%;
}

img#viz {
	width: 30%;
	height: 30%;
}

div.callout-panel {
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}

div#flipcard {
	position: absolute;
	z-index: 99 !important ;
	background-color: #effafe;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	display: block;
}

div.openingheader h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

/*div.openingheader p{
	height: auto;
	width: 60%;
	min-height: 100%;
	margin-left: 20%;
	font-family: Georgia;
	font-size: 18px;
}*/

div.openingheader p{
	height: auto;
	width: 60%;
	min-height: 100%;
	margin-left: 20%;
	font-family: Georgia;
	font-size: 16px;
}

div.openingheader p#name {
	text-align: center;
}

/*#wrapper {
    width: 80%;
    height: auto;
    min-height: 100%;
    margin-left: 10%;
}
*/
/*@media (min-width: 1200px) {
    #wrapper {
        width: 1000px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}*/