/*Isotope stuff*/

div.wrapper {
    width: 90%;
    height: auto;
    min-height: 100%;
    margin-left: 10%;
}

@media (min-width: 1200px) {
    #wrapper {
        width: 1000px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

p.imageattribute {
  font-size: 13px !important;
  font-style: italic;
  font-family: Lato !important;
  margin-bottom: 0px;
  margin-left: 5px;
}
/*div.wrapper {
  position: relative;
  float: center;
  text-align: center;
}*/

.soundcite {
  font-size: 12px;
  float: center;
}

#flipcard p {
	font-size: 14px;
}

div.grid p{
  font-size: 13px;
}

#speakeremoji {
  font-size: 14px;
}

/*Button shit I copied from CodePen*/

.button {
  /*display: inline-block;*/
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/*Button shit ends here*/


/*If I delete the grid system from purpleline and don't use callout panel*/

.element-item {
  position: relative;
  float: left;
  width: 500px;
  height: 400px;
  margin: 5px;
  padding: 10px;
  background: #effafe;
  color: #262524;
  border-radius: 10px;
  border-color: #26D6CF;
}


.element-item .name {
  position: block;
  text-align: center;
  top: 5px;
  letter-spacing: 0;
  font-size: 30px;
  font-weight: normal;
}

img#chemical {
	width: 22%;
	height: 22%;
  margin-left: 5px;
  margin: 0px;
}

img#doxy {
  width: 33%;
  height: 33%;
}

img#icon {
  width: 15%;
  height: 15%;
  margin-left: 5px;
}

img#viz {
	width: 30%;
	height: 30%;
}

/*div.callout-panel {
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}*/

/*For the introduction paragraphs*/
div.openingheader p{
	height: auto;
	width: 50%;
	min-height: 100%;
	margin-left: 25%;
  margin: 0px !important!;
	font-family: Lato;
	font-size: 19px;
  line-height: 31px;
}

/*For the opening banner img*/
div.openingheader p#name {
	text-align: center;
  text-indent: 0px !important;
}

/*For the flipcard p text sizes*/
div.row p{
	font-size: 13px;
}

/*For the flipcard header text size*/
div.row h2 {
  text-align: center;
}

/*Footer stuff*/

footer {
  font-family: Lato !important;
/*  background-color: black !important;*/
}

footer p {
  margin: 0px;
  font-size: 14px;
/*  color: white;*/
}
